<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h2>Editing Book</h2>
        <% if @book.errors.any? %>
          <%= @book.errors.count %>errors prohibited this obj from being saved:
          <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      <%= form_with model: @book do |f| %>
        <div class="form_group">
          <div><label for="inputTitle">Title</label></div>
          <div><%= f.text_field :title, id:"inputTitle" %></div>
        </div>
        <div class="form_group">
          <div><label for="inputBody">Option</label></div>
          <div><%= f.text_field :body, id:"inputBody"%></div>
        </div>
        <div class="form_group">
          <div><%= f.submit "Update Book", class: "btn btn-success" %></div>
        </div>
        <%= link_to 'Show', book_path(@book) %>
         |
        <%= link_to 'Back', books_path %>
      <% end %>
    </div>
  </div>
</div>