<h1>Books</h1>

<% @books.each do |book| %>
<div>
  <%= link_to books_path(book.id) do %>
  <% end %>
  <p><%= image_tag book.user.get_profile_image(100,100) %></p>
  <p>title：<%= book.title %></p>
  <p>Option：<%= book.body %></p>
  <p>ユーザーネーム：<%= book.user.name %></p>
</div>
<% end %>