<div>
  <%= flash[:notice] %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'list', book: @book_new, user: @user %>
    </div>
    <div class="offset-md-1 col-md-8">
      <h2>Book detail</h2>
      <table class="table">
        <thead>
        </thead>
        <tbody>
          <tr>
    　       <td>
            　<%= link_to user_path(@user) do %>
        　      <%= image_tag @book.user.get_profile_image(100,100) %>
        　      <p><%= @book.user.name %></p>
              <% end %>
            </td>
    　       <td>
            　<%= link_to book_path(@book.id) do %>
              　<%= @book.title%>
            　<% end %>
            </td>
            <td><%= @book.body %></td>
            <td>
            　<% if @book.user == current_user %>
        　       <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-success" %>
        　       <%= link_to "Destroy", book_path(@book), method: :delete, class: "btn btn-danger" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>